@mixin theme($theme: DarkBlue) {
    background: $theme;
    box-shadow: 0 0 1px $theme;
    padding: 20px 10px;
    margin: 10px;
}

.success {
    @include theme ($theme: DarkGreen);
}

.error {
    @include theme($theme: Red);
}

.warning {
    @include theme ($theme: Yellow);
}